# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
# Mainly Windows ones in this case
*.exe
*.exe~
*.dll
*.so
*.dylib
mssql-runner
mssql-runner-mac-arm

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Go workspace file
go.work
go.sum


# Custom files TOOB CLI
.idea
.idea/
*.iml


# Custom files TOOB CLI
.vscode